body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 80vh;
}
header {
    background-color: black;
}
nav {
    display: flex;
    justify-content: center;
    gap: 5px 20px;
    padding: 1.5%;
    background-color: rgb(139, 133, 133);
}
main {
    display: flex;
    flex-grow: 1;
    background-color: gray;
}
article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    flex-grow: 1;
}
h1,h3 {
    margin: 0;
    font-weight: 100;
    color: white;
}
ul {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 73, 32);
}
ul > li {
    margin: 10px;
    list-style: none;
    color: white;
}
div {
    color: honeydew;

    background-color: black;
    width: 18%;
}
img {
    width: 90%;
}
p {
    text-align: center;
}
h3:hover, li:hover, div:hover {
    box-shadow: -0px -0px 6px 6px chartreuse,0px 0px 10px 10px black;
    border: 3px dashed rgb(37, 11, 17);
    border-radius: 10px;
    background-color: rgb(116, 19, 116);
}
