body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    margin: 0;
    height: 100vh;
}
header {
    background-color: black;
    color: whitesmoke;
}
nav {
    justify-content: center;
    display: flex;
    gap: 5px 20px;
    padding: 5px;
}
main {
    display: flex;
    flex-grow: 1;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color:gray;
    flex-grow: 1;
}
h1,h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: 100;
}
h5{
    text-align: center;
    font-size: large;
}
aside {
    background-color: honeydew;

}
aside > h4 {
    margin: 10px;
}
article {
    color: white;
    background-color: black;
    width: 18%;
}
img {
    width: 90%;
}
 article:hover,h3:hover,h4:hover {
     box-shadow: -0px -0px 6px 6px rgb(238, 2, 2);
 }
 h3:hover,h4:hover{
     text-decoration: underline;
     background-color: tomato;
 }